body{
margin:0;
background-color:white;
    font-family: cutive;

}

.sidebars{
	width:20%;
	position:fixed;
	height:100%;
}
#leftbar{
	top:0;
	left:0;
	bottom:0;
}

#middle{
	width:60%;
	color:black;
	margin-left:20%;
	background-color:#cad7ac;
	min-width:750px;
	
	
}

#rightbar{
	top:0;
	left:80%;
	bottom:0;
}

@font-face {
    font-family: cutive;
    src: url(CutiveMono-Regular.ttf);
}

#website-title{
	width:100%;
	height:300px;
	line-height:150px;
	background-color:#68a8ad;
	color:white;
	min-width:750px;
	text-align:center;
	font-size:72px;
}

#content{
	width:100%;
}

#footer{
	width:100%;
	height:50px;
	background-color:#68a8ad;
	position:block;

}

#content-left{
	width:25%;
	float:left;
	padding-top:2%;
}

#content-right{
	width:65%;
	float:left;
	padding-left:5%;
	padding-right:5%;

}

.weekbutton{
	width:100%;
	height:60px;
	text-align:center;

}

.weekbutton a{
	text-decoration:none;
	line-height:60px;
	font-size:40px;
	color:white;



}

#clear{
	clear:both;
	margin:0;
	padding:0;
}

.selected{
	color:#f17d80 !important;
}
h1, h2, h3{
color:white;
}
p{
color:black;
}